<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Risk Estimator</title>
</head>

<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {% for field in form %}
        {{ field.label() }}
        {{ field() }}
        <br><br>
      {% endfor %}
  </dl>
  <p><input type=submit value="estimate risk">
</form>

</body>
</html>